---
import JournalCard from "@/components/JournalCard";
import Layout from "@/layouts/Base.astro";
import "@/styles/plyr.css";
import byzantine from "@/images/byzantine.jpg";
import ministry from "@/images/ministry.jpg";
import stm from "@/images/STM.png";
import { Image } from "astro:assets";
---

<style>
    #player1,
    #player2 {
        --plyr-color-main: #415a77;
        @apply h-72 overflow-hidden rounded;
    }
</style>

<Layout pageTitle="Portfolio">
    <section id="header" class="flex flex-col items-center justify-center p-8">
        <h1 class="font-display text-4xl font-bold md:text-5xl">
            My portfolio
        </h1>
    </section>
    <section id="broadcast" class="space-y-8 p-8">
        <h2
            class="text-center font-display text-3xl uppercase underline decoration-secondary underline-offset-4"
        >
            Broadcast News
        </h2>
        <div
            class="grid grid-rows-2 items-start justify-center gap-8 text-balance text-center lg:grid-cols-2 lg:grid-rows-1"
        >
            <div class="flex flex-col items-center justify-center gap-4">
                <div class="plyr__video-embed" id="player1">
                    <iframe
                        src="https://www.youtube.com/embed/n4z2WjnjPRE"
                        allowfullscreen
                        allowtransparency
                        allow="autoplay"></iframe>
                </div>
                <p class="font-display text-lg">
                    Vietnam veteran memorialized over Rapid Creek
                </p>
            </div>
            <div class="flex flex-col items-center justify-center gap-4">
                <div class="plyr__video-embed" id="player2">
                    <iframe
                        src="https://www.youtube.com/embed/TYXHAl53gkE"
                        allowfullscreen
                        allowtransparency
                        allow="autoplay"></iframe>
                </div>
                <p class="font-display text-lg">
                    Habitat for Humanity tackles housing costs, accessibility
                    for man with paralysis
                </p>
            </div>
        </div>
    </section>

    <section id="writing" class="space-y-8 p-8">
        <h2
            class="text-center font-display text-3xl uppercase underline decoration-secondary underline-offset-4"
        >
            Journalistic Writing
        </h2>
        <div class="flex gap-8 flex-wrap md:grid md:grid-cols-2 lg:grid-cols-3">
            <JournalCard
                title="Byzantine Rite offered at the University of Mary"
                link="/byzantine.pdf"
                linkText="Download PDF"
                downloadFilename="Eric Wesolick - Byzantine at UMary"
                client:visible
            >
                <Fragment slot="description">
                    <p>
                        The University of Mary shows different religious
                        practices by bringing in a Byzantine Catholic priest to
                        perform the Ukrainian Rite at the University Chapel.
                    </p>
                    <p class="italic">Written for the UMary Encounter</p>
                </Fragment>
                <Image
                    slot="image"
                    src={byzantine}
                    alt="Our Lady of Annunciation chapel at the University of Mary in Bismarck, North Dakota"
                    class="h-80 w-full object-cover"
                />
            </JournalCard>
            <JournalCard
                title="Ministry on the Margins keeps its doors open during winter weather"
                link="/ministry.pdf"
                linkText="Download PDF"
                downloadFilename="Eric Wesolick - Ministry on the Margins"
                client:visible
            >
                <Fragment slot="description">
                    <p>
                        From 64 to -5 degrees, Ministry on the Margins keep
                        their doors open all night to keep those struggling
                        without a home safe from the extreme cold.
                    </p>
                    <p class="italic">Written for the UMary Encounter</p>
                </Fragment>
                <Image
                    slot="image"
                    src={ministry}
                    alt="Ministry on the Margins in Bismarck, North Dakota"
                    class="h-80 w-full object-cover"
                />
            </JournalCard>
            <JournalCard
                title="Principal, 2 assistants to run private middle and high school at St. Thomas More"
                link="https://www.kotatv.com/2024/08/07/principal-2-assistants-run-private-middle-high-school-st-thomas-more/"
                linkText="Read story on KOTA TV"
                client:visible
            >
                <Fragment slot="description">
                    <p>
                        St Thomas More Middle and High School will now have one
                        principal running both schools with two assistant
                        principals taking over different aspects of the school.
                    </p>
                    <p class="italic">Written for KOTA News</p>
                </Fragment>
                <Image
                    slot="image"
                    src={stm}
                    alt="St Thomas More Middle and High School in Rapid City, South Dakota"
                    class="w-full object-cover h-80"
                />
            </JournalCard>
        </div>
    </section>

    <script is:inline src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"
    ></script>
    <script is:inline>
        const player1 = new Plyr("#player1");
        const player2 = new Plyr("#player2");
    </script>
</Layout>
