---
import "@/styles/globals.css";
import og from "@/images/og.png";
import { ModeToggle } from "@/components/ModeToggle";
import Linkedin from "@/images/linkedin.astro";

interface Props {
    pageTitle: string;
}
const { pageTitle } = Astro.props;
const { pathname } = Astro.url;
---

<script is:inline>
    const getThemePreference = () => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
            const isDark = document.documentElement.classList.contains("dark");
            localStorage.setItem("theme", isDark ? "dark" : "light");
        });
        observer.observe(document.documentElement, {
            attributes: true,
            attributeFilter: ["class"],
        });
    }
</script>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap"
            rel="stylesheet"
        />
        <!-- Primary Meta Tags -->
        <meta name="title" content="Eric Wesolick: Portfolio" />
        <meta
            name="description"
            content="Hey! I'm Eric Wesolick, a graduating Communications student at the University of Mary in Bismarck, ND. My work and ethos are proudly displayed in my portfolio. Please explore!"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.ericwesolick.com/" />
        <meta property="og:title" content="Eric Wesolick: Portfolio" />
        <meta property="og:site_name" content="Eric Wesolick: Portfolio" />
        <meta
            property="og:description"
            content="Hey! I'm Eric Wesolick, a graduating Communications student at the University of Mary in Bismarck, ND. My work and ethos are proudly displayed in my portfolio. Please explore!"
        />
        <meta
            property="og:image"
            content={`https://www.ericwesolick.com/${og.src}`}
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://www.ericwesolick.com/" />
        <meta property="twitter:title" content="Eric Wesolick: Portfolio" />
        <meta
            property="twitter:description"
            content="Hey! I'm Eric Wesolick, a graduating Communications student at the University of Mary in Bismarck, ND. My work and ethos are proudly displayed in my portfolio. Please explore!"
        />
        <meta
            property="twitter:image"
            content={`https://www.ericwesolick.com/${og.src}`}
        />
        <!-- Meta Tags Generated with https://metatags.io -->

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{`${pageTitle} | Eric Wesolick`}</title>
    </head>
    <body class="bg-background text-foreground">
        <div
            class="fixed bottom-0 right-0 z-50 mb-6 mr-6 flex scale-125 shadow-2xl sm:hidden"
        >
            <ModeToggle alignment="end" client:load />
        </div>
        <header
            class="border-divider sticky top-0 z-50 flex items-center justify-center border-b bg-background/75 px-10 py-4 backdrop-blur transition-colors duration-100 hover:bg-background sm:px-20 sm:py-6"
        >
            <div class="flex w-1/2 items-center gap-2">
                <a
                    href="/"
                    class="border border-transparent p-1 px-2 font-display transition-[border-color] duration-100 hover:border-primary"
                >
                    <span class="hidden text-2xl sm:inline">Eric Wesolick</span>
                    <span class="inline text-4xl sm:hidden">EW</span>
                </a>
                <a
                    href="https://www.linkedin.com/in/ericwesolick/"
                    class="group relative"
                >
                    <div class="hidden dark:block">
                        <Linkedin
                            bgFill="#efeff1"
                            letterFill="#2a2c30"
                            class="h-auto w-5 opacity-50"
                        />
                    </div>
                    <div class="dark:hidden">
                        <Linkedin
                            bgFill="#2a2c30"
                            letterFill="#efeff1"
                            class="h-auto w-5 opacity-50"
                        />
                    </div>
                    <Linkedin
                        bgFill="#007EBB"
                        letterFill="#FFF"
                        class="absolute left-0 top-0 h-auto w-5 opacity-0 transition-opacity group-hover:opacity-100"
                    />
                </a>
            </div>
            <div class="hidden sm:block">
                <ModeToggle alignment="center" client:load />
            </div>
            <nav class="flex w-1/2 justify-end gap-8">
                <a
                    href="/"
                    class:list={[
                        "decoration-primary underline-offset-8 transition-all will-change-auto hover:opacity-75",
                        pathname === "/" ? "underline" : "hover:underline",
                    ]}
                >
                    <span class="hidden md:inline">home page</span>
                    <span class="inline md:hidden">home</span>
                </a>
                <a
                    href="/portfolio"
                    class:list={[
                        "decoration-primary underline-offset-8 transition-all will-change-auto hover:opacity-75",
                        pathname.includes("portfolio")
                            ? "underline"
                            : "hover:underline",
                    ]}
                >
                    <span class="hidden md:inline">my portfolio</span>
                    <span class="inline md:hidden">portfolio</span>
                </a>
            </nav>
        </header>
        <main class="mx-auto lg:w-4/5">
            <slot />
        </main>
        <footer
            class="border-divider flex flex-col items-center justify-center border-t p-4 font-display lg:flex-row lg:justify-around lg:px-8 lg:py-12 lg:text-xl"
        >
            <p>
                &copy; {new Date().getFullYear()} Eric Wesolick.
            </p>
            <div class="hidden lg:block"></div>
            <a
                href="mailto:ewesolick09@gmail.com"
                class="text-center text-primary underline lg:underline-offset-4"
                >Email Eric.</a
            >
            <div class="hidden lg:block"></div>
            <p class="text-right">
                Designed by <span class="font-display">T. Paul Kariuki</span>
            </p>
        </footer>
    </body>
</html>
