---
interface Props {
    pageTitle: string;
}
const { pageTitle } = Astro.props;
const { pathname } = Astro.url;
import { Link } from "@nextui-org/react";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{`${pageTitle} | Eric Wesolick`}</title>
    </head>
    <body class="bg-background text-foreground">
        <header
            class="flex items-center justify-between border-b border-divider px-10 py-4 sm:px-20 sm:py-6"
        >
            <a
                href="/"
                class="border border-transparent p-1 px-2 font-display transition-[border-color] duration-100 hover:border-divider/75"
            >
                <span class="hidden text-2xl sm:inline">Eric Wesolick</span>
                <span class="inline text-4xl sm:hidden">EW</span>
            </a>
            <nav>
                <ul class="flex gap-8">
                    <Link
                        href="/about"
                        color="foreground"
                        underline={pathname == "/about" ? "always" : "hover"}
                        className="underline-offset-8"
                        client:visible
                    >
                        <span class="hidden md:inline">about me</span>
                        <span class="inline md:hidden">about</span>
                    </Link>
                    <Link
                        href="/portfolio"
                        color="foreground"
                        underline={pathname == "/portfolio"
                            ? "always"
                            : "hover"}
                        className="underline-offset-8"
                        client:visible
                    >
                        <span class="hidden md:inline">my portfolio</span>
                        <span class="inline md:hidden">portfolio</span>
                    </Link>
                    <Link
                        href="/contact"
                        color="foreground"
                        underline={pathname == "/contact" ? "always" : "hover"}
                        className="underline-offset-8"
                        client:visible
                    >
                        <span class="hidden md:inline">contact me</span>
                        <span class="inline md:hidden">contact</span>
                    </Link>
                </ul>
            </nav>
        </header>
        <main>
            <slot />
        </main>
    </body>
</html>
