---
import '@/styles/globals.css';

interface Props {
    pageTitle: string;
}
const { pageTitle } = Astro.props;
const { pathname } = Astro.url;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{`${pageTitle} | Eric Wesolick`}</title>
        <!-- Rellax Parllax -->
        <!-- <script>
            document.querySelectorAll("img").forEach((value) => {
                value.classList.add("rellax");
                value.setAttribute("data-rellax-speed", "+1");
            });
            import Rellax from "rellax";
            var rellax = new Rellax(".rellax", {
                center: true,
            });
        </script> -->
    </head>
    <body class="bg-background text-foreground">
        <header
            class="flex items-center justify-between border-b border-divider px-10 py-4 sm:px-20 sm:py-6"
        >
            <a
                href="/"
                class="border border-transparent p-1 px-2 font-display transition-[border-color] duration-100 hover:border-primary"
            >
                <span class="hidden text-2xl sm:inline">Eric Wesolick</span>
                <span class="inline text-4xl sm:hidden">EW</span>
            </a>
            <nav class="flex gap-8">
                    <a
                        href="/"
                        class:list={[
                            "decoration-primary underline-offset-8 transition-all will-change-auto hover:opacity-75",
                            pathname === "/" ? "underline" : "hover:underline",
                        ]}
                    >
                        <span class="hidden md:inline">home page</span>
                        <span class="inline md:hidden">home</span>
                    </a>
                    <a
                        href="/portfolio"
                        class:list={[
                            "decoration-primary underline-offset-8 transition-all will-change-auto hover:opacity-75",
                            pathname === "/portfolio"
                                ? "underline"
                                : "hover:underline",
                        ]}
                    >
                        <span class="hidden md:inline">my portfolio</span>
                        <span class="inline md:hidden">portfolio</span>
                    </a>
            </nav>
        </header>
        <main class="mx-auto lg:w-4/5">
            <slot />
        </main>
        <footer
            class="flex items-center justify-center gap-1 border-t border-divider px-8 py-12 font-display lg:justify-around lg:text-xl"
        >
            <p>
                &copy; {new Date().getFullYear()} Eric Wesolick.
            </p>
            &nbsp;
            <a
                href="mailto:ewesolick09@gmail.com"
                class="text-primary underline lg:underline-offset-4 lg:text-center"
                >Email Eric.</a
            >
            &nbsp;
            <p class="lg:text-right">Designed by <span class="font-display">T. Paul Kariuki</span></p>
        </footer>
    </body>
</html>
